<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/blogs.css">
    <title>OCera EdTech</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(function() {
            $("#includeHeader").load("/header.html");
            $("#includeFooter").load("/footer.html");
        });
    </script>
</head>
<!-- blog title
    date
    writer
    cayegory
    share icons
    blog content 
    share  icons
    comments 

-->
<body>

    <div id="includeHeader"></div>


    <!-- Hero Section  -->
    <section id="hero">
        <!-- <div class="hero container"> -->
        <!-- <div class="heading">
                <h1>We are pledged to reach every desirous learner to make their learning more meaningful at affordable cost.</h1>
            </div> -->
        <!-- </div> -->
    </section>
    <!-- End Hero Section  -->

    <div class="blog_container">
        <div class="blog_subcontainer">
            <div class="blog_section">
                <h1 class="blog_title">Educational Transformation : The Foundation for self - reliant India </h1>
                <div class="blog_details">
                    <h3>Dated : 12 Jan 2021</h3>
                    <h3>Author : Geeta Durga</h3>
                    <h3>Catogory : India</h3>
                    <div class="share_icons">
                        <div class="icon_color" style="background: #4267B2; padding: 5px; height: 35px; width: 30px;" >
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div class="icon_color" style="background: #25D366; padding: 5px; height: 35px; width: 30px;" >
                            <i class="fab fa-whatsapp"></i>
                        </div>
                        <div class="icon_color" style="background: #1DA1F2; padding: 5px; height: 35px; width: 30px;" >
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="icon_color" style="background: palevioletred; padding: 5px; height: 35px; width: 30px;" >
                            <i class="fab fa-instagram"></i>
                        </div>  
                    </div>
                </div>
                
                <div class="circle">
                    <img src="/pic1.jpg">
                </div>
                <div>
                    <p>The term was coined with the aid of the prime Minister of India, Mr. Narendra Modi at some stage in his cope with the state on May 12, 2020. He called this marketing campaign Aatma Nirbhar Bharat Abhiyaan (Self- Reliant India motion). He also
                        defined five pillars of Aatmanirbhar Bharat – economic system, Infrastructure, machine, Demography, and demand. He harassed upon the truth that it is time to become vocal for our neighborhood products and lead them to global. under this
                        campaign, a unique economic package deal has been launched through the authorities, as a way to benefit various segments consisting of the cottage industry, Micro, Small and Medium establishments (MSMEs), labourers, center elegance, and
                        industries, among others.<br><br> The government has launched PM e-VIDYA, a programme for multi-mode get right of entry to virtual/on-line schooling. different projects to be released encompass Manodarpan, New countrywide Curriculum, and
                        Pedagogical framework, countrywide Foundational Literacy, and Numeracy task.</p>
                    <br>
                    <h1 class="blog_subtitle">PM e-Vidya:</h1>
                    <p><span>DIKSHA for college education across States/UTs</span> - e-content and QR coded energized textbooks to be supplied for all grades (one elegance, one channel)One earmarked tv channel for each grade from 1 to 12 great use of radio, community
                        radio and podcasts unique e-content material for visually and hearing-impaired people.<br><br> <span>Manodarpan</span> - to be released on an instantaneous basis to provide mental aid for college students, teachers and households on mental
                        fitness and properly-being. New countrywide Curriculum and Pedagogical framework for early youth, faculty and teachers might be released, included with global and 21st-century talent necessities
                        <br><br><span>National Foundational Literacy and Numeracy venture</span> – to be released with the aid of December 2020 to make sure that each baby attains learning levels and results in grade 5.</p>
                    <p><br>NEP further endorses a competency-primarily based shape for pedagogical careers and stresses on the expert growth of instructors. The creation of multidisciplinary training will inevitably shift Indian college students from the vintage
                        device of learning by rote to the practice of creative and essential thinking. PM Modi has defined his 3-point mantra: study, query, and clear up, for the 21st century, that's an era of information, gaining knowledge of, and innovation.
                        He further clarified that the idea of ‘public’ enshrines the goal of imparting maximum welfare to all. NEP, being reformist via nature allocates 6 percent of the state’s GDP to training and training. It firmly rejects the sooner concept
                        of people simply as a ‘resource’, which is alien to the cultural ethos of the state and it declares that people ought to be ‘independent, ethical, progressive unfastened from colonized mindsets and without ‘Sanskars’.<br><br>The NEP will
                        reinforce the basics of ethical and primary schooling and offer college students with abundant possibilities for an equitable and qualitative boom. To build a simple society, it will facilitate an inclusive, holistic technique, participatory
                        through nature which becomes now not envisaged within the prior education rules. The NEP which includes excellent practices of both neighborhood and worldwide education cultures must assist to make India more Atma-Nirbhar, i.e. self-reliant.
                        Indian education will for that reason specific the nation’s cultural and highbrow legacy.</p>
                </div>
            </div>            
            <div class="comments">
                <h1 class="comment_title">Leave a Comment</h1>
                <div class="comment_details">
                    <div class="form__group">
                        <input type="text" class="form__field" placeholder="Name" name="name" id='name' required/>
                        <label for="name" class="form__label">Name</label>
                    </div> 
                    <div class="form__group">
                        <input type="email" class="form__field" placeholder="Email" name="email" id='email' required/>
                        <label for="email" class="form__label">Email</label>
                    </div> 
                    <div class="form__group">
                        <input type="text" class="form__field" placeholder="Comment" name="comment" id='comment' required/>
                        <label for="comment" class="form__label">Comment</label>
                    </div> 
                    <button class="qcta">Submit Comment</button>                    
                    
                </div>
            </div>

            <p class="comment_button1"><i class="far fa-comments"></i> Click to view comments</p>

            <div class="public_comments">
                <h1 class="public_comments_h1">Comments</h1>
                <div class="comment_card">
                    <div class="card_profile">
                        <h1>Konark Sharma</h1>
                        <h3>11 Feb 2021</h3>
                    </div>
                    <p class="card_comments">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum reiciendis, harum necessitatibus vitae culpa sed ab accusamus reprehenderit sint. Molestiae adipisci quo tempora vel, cupiditate iusto enim vitae blanditiis eum!</p>
                </div>
                <div class="comment_card">
                    <div class="card_profile">
                        <h1>Konark Sharma</h1>
                        <h3>11 Feb 2021</h3>
                    </div>
                    <p class="card_comments">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum reiciendis, harum necessitatibus vitae culpa sed ab accusamus reprehenderit sint. Molestiae adipisci quo tempora vel, cupiditate iusto enim vitae blanditiis eum!</p>
                </div>
                <div class="comment_card">
                    <div class="card_profile">
                        <h1>Konark Sharma</h1>
                        <h3>11 Feb 2021</h3>
                    </div>
                    <p class="card_comments">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum reiciendis, harum necessitatibus vitae culpa sed ab accusamus reprehenderit sint. Molestiae adipisci quo tempora vel, cupiditate iusto enim vitae blanditiis eum!</p>
                </div>
                <div class="comment_card">
                    <div class="card_profile">
                        <h1>Konark Sharma</h1>
                        <h3>11 Feb 2021</h3>
                    </div>
                    <p class="card_comments">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum reiciendis, harum necessitatibus vitae culpa sed ab accusamus reprehenderit sint. Molestiae adipisci quo tempora vel, cupiditate iusto enim vitae blanditiis eum!</p>
                </div>
                <p class="comment_button2"><i class="fas fa-times"></i> Hide Comments</p>
            </div>

        </div>

        
        <div class="trend_section">
            <h3>Recent Post</h3>
            <div class="all_post">
                <div class="post_card">
                    <div class="post_image">
                        <img src="/pic1.jpg">
                    </div>
                    <div class="post_data">
                        <p class="post_category">Indian Literature</h3>
                        <p class="post_title">Educational Transformation : The Foundation for self - reliant India </h2>
                    </div>
                </div>
    
                <div class="post_card">
                    <img src="/pic1.jpg" class="post_image">
                    <div class="post_data">
                        <p class="post_category">Indian Literature</h3>
                        <p class="post_title">Educational Transformation : The Foundation for self - reliant India </h2>
                    </div>
                </div>
    
                <div class="post_card">
                    <img src="/pic1.jpg" class="post_image">
                    <div class="post_data">
                        <p class="post_category">Indian Literature</h3>
                        <p class="post_title">Educational Transformation : The Foundation for self - reliant India </h2>
                    </div>
                </div>
            </div>
            </div>

    </div>
   
    

    <div id="includeFooter"></div>
    <script>
        document.querySelector(".comment_button1").addEventListener("click",function(){
            document.querySelector(".public_comments").style.display = "block";
            document.querySelector(".comment_button1").style.display = "none";
        });
        document.querySelector(".comment_button2").addEventListener("click",function(){
            document.querySelector(".public_comments").style.display = "none";
            document.querySelector(".comment_button1").style.display = "block";
        });
    </script>
</body>

</html>