<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup</title>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="/popup.css">
</head>

<body>
    <div class="popup_card" id="popup_main" style="display: none;">
        <div class="popup">
            <div class="popup_header">
                <h1 class="urg_message">URGENT MESSAGE <span style="float: right;"><i class="fas fa-times close" id="close_button"></i></span> </h1>
            </div>
            <div class="popup_body">
                <h4>You need to upload atleast 1/3rd of your total modules i.r itna modules by 1 Feb 2021</h4>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('#popup_main').css("display", "block");
            }, 5000);
        });
        $('#close_button').click(function() {
            $('#popup_main').css("display", "none");
        });
    </script>
</body>

</html>